<body>
      <div id="app">
        数学成绩<input type="text" v-model="shuxue">
        英语成绩 <input type="text" v-model="yuwen"> <br />
        <!-- v-model也可以调用函数，不要少了() -->
        总成绩(方法实现)<input type="text" v-model="zongfen()"><br />
        总成绩(计算属性实现)<input type="text" v-model="zongfen2"><br />
        <!-- 计算属性是属性 后面不能加() -->
        总成绩(计算属性实现-双向)<input type="text" v-model="zongfen3"><br />
        <!-- 当属性数据发生变化时,对应属性的回调函数会自动调用, 在函数内部进行计算
              通过  watch 选项 或者 vm 实例的  $watch() 来监听指定的属性                  -->
        总成绩(监听器)<input type="text" v-model="jiantinzongfen"><br />
          </div>
      
    <script src="./node_modules/vue/dist/vue.js"></script>
      
    <script type="text/javascript">

    //函数只支持单向
    //计算属性中需要制定set函数可以双向
        var vm = new Vue({
            el: '#app',
            data: {
                yuwen: 80,
                shuxue: 91,
                jiantinzongfen:0  //通过监听器计算出来的总得分
            },

            methods: {
                    
                    zongfen: function () {
                    console.log('函数被调用了')
                    return (this.yuwen - 0) + (this.shuxue - 0)
                },
               
            },
            computed: { //计算属性    有缓存 如果计算属性体内的属性值没有发生改变就不会发生改变
                  zongfen2:function(){
                    console.log('计算属性实现了')
                    return (this.yuwen - 0) + (this.shuxue - 0)
                  },
               //它是对象
                  zongfen3:{
                     //获取数据
                    get:function(){

                        console.log('计算属性-双向 实现了')
                    return (this.yuwen - 0) + (this.shuxue - 0)
                    },
                    //设置数据
                    set:function(total){
                          
                        var avg=total/2
                        this.yuwen =avg
                        this.shuxue=avg  //this千万不能忘记 很重要！
                    }
                  }
            },
         
          //监听器 
         watch:{
               shuxue:function(newValue,oldValue){
                                  //更新后的值 和 更新前的值
                console.log('监听到数学更新了')
                this.jiantinzongfen= (newValue-0)+(this.yuwen-0)
               }
            },
        })
             //监听器方法二 ：利用VM实例进行调用
             // 第一个参数是监听的参数 当他发生改变就执行后面的函数
        vm.$watch('yuwen',function(newValue){
            console.log('监听到英语更新了')
            this.jiantinzongfen= (newValue-0)+(this.shuxue-0)

        })
           //监听总得分
        vm.$watch('jiantinzongfen',function(newValue){
            console.log('监听到总得分更新了')
            var avg=(newValue)/2  //多了一个s 所以出来NAN 粗心大意
                this.yuwen =avg
                this.shuxue=avg  //this千万不能忘记 很重要！
        })
    </script>
</body>