<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
     <div id="demo">

        <!-- @submit.prevent 阻止事件的默认行为 阻止action行为 改用其他 -->
            <form action="#" @submit.prevent="ok">
                 姓名(文本)：<input type="text" v-model="name">
                  <br><br>
                 性别(单选按钮)：
                    <input name="sex" type="radio" value="1" v-model="sex"  />男
            
                    <input name="sex" type="radio" value="0" v-model="sex"  />女
                  <br><br>
                 技能(多选框)：
                    <input type="checkbox" name="skills" value="java" v-model="skills">Java开发
                    <input type="checkbox" name="skills" value="vue" v-model="skills">Vue.js开发
                    <input type="checkbox" name="skills" value="python" v-model="skills">Python开发
                  <br><br>
                 城市(下拉框)：
            <!-- select里面的name是初始值下拉的第一个 -->
                  <select name="citys" v-model="city"> 
                        <option v-for="c in citys" :value="c.code" v-model="citys">
                       {{c.name}}
                </option>
                      </select>
                  <br><br>
                 说明(多行文本)：<textarea cols="30" rows="5"></textarea>
                  <br><br>
                  <button type="submit">提交</button>
                </form>
          </div>


        <script>
            new Vue({
                el:'#demo',
                data:{
                      name:'',
                      sex:'1',
                      skills:[],
                      citys:[
                          {code:'bj',name:'北京'},
                          {code:'nj',name:'南京'}
                      ],
                      city:'nj'


                },
                methods: {
                    ok:function(){
                        //发送AJAX请求
                      
                       alert(this.name)

                    }
                },

            })
        </script>
</body>

</html>