<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            
            width: 200px;
            height: 200px;
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
     <h3>v-if条件渲染</h3>
     <input type="checkbox" v-model="see" @click="open()">勾选后显示红色小块
     <div class="box" v-if="see" >
     </div>
     <p v-else>红色隐藏了 我出来了</p>

     <h3>v-show 条件渲染</h3>
     <input type="checkbox" v-model="see">勾选后显示红色小块
     <div class="box" v-show="see" >

<!-- show 是display隐藏dom  而if是直接消除了这个div -->
    
      </div>
      <script src="./node_modules/vue/dist/vue.js"></script>
      <script>
        var vm=  new Vue({
                el:'#app',
                data:{
                     see:false,
                  
                },
                methods: {
                  
                   
                  
                   
                },

          })
      </script>
</body>
</html>